{% extends 'app_cad_users/base.html'%}
{% block content %}
<div class="container">
    <h1>Usuários cadastrados:</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>idade</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>{{user.id_user}}</th>
            <th>{{user.nome}}</th>
            <th>{{user.idade}}</th>
        </tr>
        {% endfor %}

    </table>

</div>
{%endblock%}